# Go
darts-server
*.test

# Database
*.db
*.db-journal
*.db-wal
*.db-shm

# Frontend
frontend/node_modules/
frontend/dist/

# Docker exports
darts-app*.tar

# Deployment logs
logs/

# Environment files
.env
.env.local

# IDE & OS
.vscode/
.idea/
.DS_Store

DEPLOYMENT.md

# semantic-release
node_modules/
package-lock.json
CHANGELOG.md